/* Footer Styling */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

footer {
  background-color: gray;
  color: #fff;
  padding: 40px 0 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  gap: 20px;
}

.footer-container {
  min-width: 250px;
  margin: 20px 0;
}

.footer-container h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f1c40f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid #f1c40f;
}

.footer-container p {
  font-size: 14px;
  color: #ccc;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container ul li {
  margin: 10px 0;
}

.footer-container ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-container p:hover {
  color: #f1c40f;
  cursor: pointer;
}
.footer-content {
  min-width: 250px;
  margin: 20px 0;
}

.footer-content h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f1c40f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid #f1c40f;
}

.footer-content p {
  font-size: 14px;
  color: #ccc;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin: 10px 0;
}

.footer-content ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-content ul li a:hover {
  color: #f1c40f;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
}
.footer-icons{
  min-width: 250px;
  margin: 20px 0;
  display: flex;
}
.footer-icons h3{
  font-size: 18px;
  color: #f1c40f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid #f1c40f;

}
.footer-icons ul{
  list-style: none;
  padding: 0px;
  display: flex;
}
.footer-icons ul li{
  margin: 10px 0px;
  padding-top: 20px;
}
.footer-icons ul li a {
  color: #ccc;
  text-decoration: none;
}
.footer-icons ul li a:hover{
  color: #f1c40f;
}
.bottom-bar{
  width: 100%;
  border-top: 1px solid #444;
  margin-top: 40px;
  padding-top: 15px;
}
.i{
  margin-left: 20%;
}
/* Navbar Styling */
*{
  margin: 0px;
  padding: 0px;
}
body{
  box-sizing: border-box;
}
.main-logo{
  font-size: 50px;
}
.nav-container{
  background-color: steelblue;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  justify-content: space-between;
}
.nav-links{
  color: white;
  list-style: none;
}
.nav-links ul{
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-right: 500px;
  margin-top: 20px;
}
.nav-links li{
  margin: 0px 10px;
}
.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px;
}
.nav-links a:hover{
  color: #f1c40f;
  border-radius: 5px;
  background-color: #444;
}